@import "../../scss/mixins";
@import "../../scss/config";

.product-overview {
  padding: 0.5rem;
  @include set-background(map-get($map: $colors, $key: light));

  & .product-previews {
    margin: 0.5rem 0;
    padding: 0.5rem;
    @include set-background(map-get($map: $colors, $key: my-gold));
    border-radius: 0.25rem;
    box-shadow: -0.75rem 0rem 0.9rem -0.5rem map-get($map: $colors, $key: dark),
      0.75rem 0rem 0.9rem -0.5rem map-get($map: $colors, $key: dark),
      0.35rem 0.35rem 1rem 0.35rem rgba(0, 0, 0, 0);
  }

  & .herb {
    color: rgb(63, 165, 63);
  }

  & .to-shop {
    padding-top: 0.5rem;
  }
}
