@import "../../scss/mixins";
@import "../../scss/config";

.product {
  max-width: 98%;
  margin: 0.5rem auto 0rem auto;

  @media screen and (min-width: map-get($map: $breakpoints, $key: md)) {
    width: 80%;
  }
}
