@import "../../scss/config";
@import "../../scss/mixins";

.cart-dropdown-item {
  display: flex;
  border-bottom: 0.1rem dotted map-get($map: $colors, $key: light);
  padding: 0.2rem;

  & .item-img {
    width: 30%;

    & img {
      background-size: cover;
      background-position: center;
      position: relative;
      border-radius: 0.5rem;
    }
  }

  & .item-body {
    width: 70%;
    padding: 0.25rem 0.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
