@import "../../scss/config";
@import "../../scss/mixins";

.landing {
  & .landing-showcase {
    background-image: url("../../assets/four-rocks.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .landing-header {
      color: map-get($map: $colors, $key: my-gold);
      text-align: center;
      text-shadow: 0.2rem 0.2rem 0.25rem rgba(239, 239, 239, 0.774);
      padding: 1rem;
      background-color: map-get($map: $colors, $key: dark);
      opacity: 0.75;
      border-radius: 5rem;

      @media screen and (min-width: map-get($map: $breakpoints, $key: md)) {
        padding: 2rem;
      }

      & h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;

        @media screen and (min-width: map-get($map: $breakpoints, $key: md)) {
          font-size: 4.5rem;
        }
      }

      & p {
        font-size: 1.25rem;

        @media screen and (min-width: map-get($map: $breakpoints, $key: md)) {
          font-size: 2.25rem;
        }
      }
    }

    & hr {
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      border: 0.05rem solid map-get($map: $colors, $key: my-gold);
      width: 90%;
    }

    & .user-actions {
      & a,
      button {
        font-size: 2rem;
      }
    }
  }

  & .landing-info {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.25rem;
    border-radius: 0.5rem;
    @include set-background(map-get($map: $colors, $key: my-gold));

    @media screen and (min-width: map-get($map: $breakpoints, $key: md)) {
      padding: 0.5rem 10rem;
    }
  }
}
