@import "../../scss/config";
@import "../../scss/mixins";

.signin-signup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: map-get($map: $colors, $key: my-gold);

  & .signup,
  .signin,
  .forgot-password {
    position: relative;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background: map-get($map: $colors, $key: light);
    box-shadow: 4px 4px 10px 2px rgba(53, 46, 31, 0.746);
    min-width: 300px;

    @media screen and (min-width: map-get($map: $breakpoints, $key: sm)) {
      min-width: 500px;
      max-width: 550px;
    }

    & .signin-actions {
      display: grid;
      grid-template-columns: auto;
      justify-items: flex-end;
      margin-top: 0.25rem;
      padding-top: 0.25rem;
      border-top: 0.1rem solid map-get($map: $colors, $key: my-gold);

      & a {
        color: map-get($map: $colors, $key: my-gray-dark);
        font-weight: bold;
        padding: 0.25rem 0.25rem;
        border-radius: 0.5rem;
        transition: all 0.25s ease-in-out;

        &:hover {
          color: lighten(map-get($map: $colors, $key: my-gray-dark), 20%);
          border-left: 0.1rem solid map-get($map: $colors, $key: my-gold);
          border-right: 0.1rem solid map-get($map: $colors, $key: my-gold);
        }

        & span {
          color: map-get($map: $colors, $key: my-gold);
        }
      }
    }
  }
}
