@import "../../scss/config";
@import "../../scss/mixins";

.cart-page {
  margin: 0.75rem auto;
  display: flex;
  flex-direction: column;
  width: 98%;

  @media screen and (min-width: map-get($map: $breakpoints, $key: lg)) {
    width: 80%;
  }

  & .cart-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 0.25rem dotted map-get($map: $colors, $key: my-gold);

    & .cart-total {
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      color: map-get($map: $colors, $key: my-gold);

      @media screen and (min-width: map-get($map: $breakpoints, $key: lg)) {
        font-size: 1.5rem;
      }
    }
  }

  & .cart {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: map-get($map: $breakpoints, $key: lg)) {
      padding: 0.25rem 1rem;
    }
  }

  & .btn-paypal {
    background-image: linear-gradient(#fff0a8, #f9b421);
    &:hover {
      background-image: linear-gradient(#f9b421, #fff0a8);
      background-image: linear-gradient(#253b80, #179bd7);
    }

    & .paypal-logo {
      font-weight: bold;

      i:first-child {
        color: #253b80;
      }
      i:last-child {
        color: #179bd7;
      }
    }

    &:hover .paypal-logo {
      i:first-child {
        color: #f9b421;
      }
      i:last-child {
        color: #fff0a8;
      }
    }
  }
}
