@import "../../scss/config";
@import "../../scss/mixins";

.cart-page {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: map-get($map: $breakpoints, $key: lg)) {
    width: 80%;
  }

  & .cart-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 0.25rem dotted map-get($map: $colors, $key: my-gold);

    & .cart-total {
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      color: map-get($map: $colors, $key: my-gold);

      @media screen and (min-width: map-get($map: $breakpoints, $key: lg)) {
        font-size: 1.5rem;
      }
    }
  }

  & .cart {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: map-get($map: $breakpoints, $key: lg)) {
      padding: 0.25rem 1rem;
    }
  }

  & .cart-btns {
    margin: 0 auto;
  }
}
