@import "../../scss/config";
@import "../../scss/mixins";

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-total {
  font-size: 1.25rem;
  font-weight: bold;
  color: map-get($map: $colors, $key: my-gold);
}

.cart-item-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
