@import "../../scss/config";
@import "../../scss/mixins";

.category-form {
  position: relative;

  & .category-form-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid map-get($map: $colors, $key: my-gold);
    width: 100%;
  }
}
