@import "../../scss/_config";
@import "../../scss/_mixins";

.dropzone {
  height: 250px;
  width: 300px;
  @include set-background(map-get($map: $colors, $key: light));
  border: 0.1rem dashed map-get($map: $colors, $key: dark);
  border-radius: 1rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  &.highlight {
    @include set-btn-hover(map-get($map: $colors, $key: my-gold));
    border: 0.25rem solid map-get($map: $colors, $key: my-gold);
  }

  & i {
    font-size: 7.5rem;
  }

  & .file-input {
    display: none;
  }

  & span {
    font-size: 1.5rem;
    padding-top: 0.75rem;
  }
}
