@import "../scss/config";
@import "./_mixins.scss";

.form {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 0.5rem;

  & .form-header {
    grid-column: 1 / 12;
    justify-self: center;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid map-get($map: $colors, $key: my-gold);
    width: 100%;

    & h1 {
      letter-spacing: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }

  & small {
    grid-column: 1 / 12;
  }

  & .form-group {
    grid-column: 1 / 12;

    & label {
      display: block;
      margin-bottom: 0.25rem;
    }

    & input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 0.5rem;
      font: inherit;

      &:focus {
        background-color: lighten(map-get($map: $colors, $key: my-gold), 20%);
        outline: none;
      }
    }
  }

  & .form-group-icon {
    position: relative;

    i {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%, 0%);
      padding: 0.2rem 1rem;
      margin: inherit;
      transition: 0.4s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.25);
        color: map-get($map: $colors, $key: my-gold);
      }
    }
  }

  & .form-actions {
    grid-column: 1 / 12;
    display: flex;
    justify-content: space-between;

    &.single {
      justify-content: flex-end;
    }
  }

  & .fieldset {
    padding: 0.25rem;
    border: 0.05rem solid map-get($map: $colors, $key: my-gold);

    & .field-item {
      display: grid;
      grid-gap: 0.25rem;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
      border-bottom: 0.05rem dashed map-get($map: $colors, $key: my-gold);
    }
  }
}
